<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/Ustyle.css">
  <title>Upload folder</title>
</head>

<body>
  <div id="main">
    <div class=" navbar col-12">
      <div class="logo"><img></div>
      <ul class="links">
         <li>
          <a href="/">Home</a>
        </li>
        <li>
         <a href="#">Eye's</a>
        </li>
      </ul>
    </div>
    <div class="comm col-12 ">
        <div class="content">
            <h1>Upload your files to the AWS S3 Bucket</h1>
           
              <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="selec">
                    <h3>Select Device Id here -</h3>
                    <select name="id" id="wil">
                        <option value=as>Select Deive Id from here</option>
                        {% for id in ids %}
                        <option value="{{id}}">{{id}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="choose"><input type="file" name=file multiple accept=".jpg, .png, .jpeg"></div>                
                <div class="button"><input type="submit" value="Upload"></div>
              </form>
            </div>
          </div>
  </div>
  <script>
      if ('{{msg}}' != "" ){
      alert('{{msg}}')

    }
  </script>
</body>

</html>