<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICS</title>
</head>
<body>
    <div class="content">
        <div>
          <h3>Here are media files inside the S3 bucket:</h3>
          <div>
            {% for item in range(0,len) %}
                <img src={{ contents[item] }} style="width: 250px">
            {% endfor %}
          <div>  
        </div>
    </div>
</body>
</html>