<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <title>Document</title>
    <style>
        #map{
            position: absolute;
            top:0 ;
            bottom: 0;
            right: 0;
            left: 0;
           
        }
        </style>
</head>
<body>
    <div id ="map"></div>
    <script>
        var newdata = JSON.parse('{{ data|tojson }}')
    </script>  
    <script src="static/script.js"></script>
</body>
</html>