*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #525252;
}
#main{
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60%;
    grid-template-areas: "nav" "comm";
    grid-row-gap: 5px;
    
}
.navbar {
    grid-area: nav;
    margin-top: 40px;
    margin-bottom: 30px;
    height:95px;
    background: #414141;
    box-shadow: -10px -10px 20px #827979, 10px 10px 20px #1F1818, inset 10px 10px 20px rgba(194, 192, 192, 0.17), inset -10px -10px 20px #161313;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50%;    
}
.logo img{
    width: 300px;
}
.navbar ul{
    width: 30%;
    align-content: right;
    text-align: right;
    list-style: none;
}
.navbar ul li{
    display: inline;
}
.navbar .links li a{
    /* border: white solid; */
    text-decoration: none;
    color: White;
    padding: 15px;
    margin: 10px;
    font-size: 24px;
    border-radius: 20px;
}
.navbar .links li a:hover{
    transition: 400ms;
    background-color:   #CA3E47;
}
.navbar .links li a:active{
    background-color: #161313;
}
.comm{
    grid-area: comm;
    border-radius: 20px;
    background: #414141;
    box-shadow: inset 7px 7px 14px #212121,
                inset -7px -7px 14px #626262;
    padding: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 0.6fr 0.6fr;
    grid-template-rows: 1fr 15fr;
    grid-template-areas:
     "head head"
     "depboard map" ;
}
#dephead{
    grid-area: head;
    background-color: #668f07;
    box-shadow: -10px -10px 20px #827979, 10px 10px 20px #1F1818, inset 10px 10px 20px rgba(194, 192, 192, 0.17), inset -10px -10px 20px #161313;
    border-radius: 2px;
    color: aliceblue;
    text-align: center;
}
#depsec{
    grid-area: depboard;
    background: #414141;
    box-shadow: -10px -10px 20px #827979, 10px 10px 20px #1F1818, inset 10px 10px 20px rgba(194, 192, 192, 0.17), inset -10px -10px 20px #161313;
    border-radius: 20px;    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#depsec>h1{
    color: white;
    text-align: center;
    margin: 10px auto;
}
.form{
    padding:10px;
    display: inline-block;    
}
.form p{
    margin-bottom: 10px ;
    font-size: 20px;
    font-style: bold;
}
.form>form{
    display: inline block;
    color: white;
}
.form>form>label{
    margin-bottom: auto;
    font-size: 25px;
    margin-right: 50px;  
}
.form>button{
    margin: 1px 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 19px;
    background: #CA3E47;
    box-shadow: inset -13px 13px 27px #7d262c,
            inset 13px -13px 27px #ff5662;
}
.form>button:hover{
    transition: 500ms;
    border-radius: 19px;
background: #CA3E47;
box-shadow: inset 13px -13px 27px #7d262c,
            inset -13px 13px 27px #ff5662;
}
.form>button:active{
    border-radius: 19px;
    background: #CA3E47;
    box-shadow: inset 13px 13px 27px #7d262c,
            inset -13px -13px 27px #ff5662;
}

#map{
    background: #f3f0f0;    
    grid-area: map;
    
          
}