*{
    padding: 0;
    margin: auto;
    width: 1280px;
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
   
    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
body{
    background-color: #525252;
}

.com{
    border-radius: 20px;
    background: #414141;
    box-shadow: inset 7px 7px 14px #212121,
                inset -7px -7px 14px #626262;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    margin-top: 40px;
    margin-bottom: 30px;
    box-sizing: border-box;
    height:95px;
    background: #414141;
    box-shadow: -10px -10px 20px #827979, 10px 10px 20px #1F1818, inset 10px 10px 20px rgba(194, 192, 192, 0.17), inset -10px -10px 20px #161313;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50%;
    
}
.logo img{
    content: url("Images/logo.png");
    width: 300px;
}
.navbar ul{
    width: 30%;
    align-content: right;
    text-align: right;
    list-style: none;
}
.navbar ul li{
    display: inline;
}
.navbar .links li a{
    /* border: white solid; */
    text-decoration: none;
    color: White;
    padding: 15px;
    margin: 10px;
    font-size: 24px;
    border-radius: 20px;
}
.navbar .links li a:hover{
    transition: 400ms;
    background-color:   #CA3E47;
}
.navbar .links li a:active{
    background-color: #161313;
}

.title{
    background: #414141;
    box-shadow: -10px -10px 20px #827979, 10px 10px 20px #1F1818, inset 10px 10px 20px rgba(194, 192, 192, 0.17), inset -10px -10px 20px #161313;
    border-radius: 20px;
    height: 50vh;
    padding: 15px;
}
#wel{
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
}
.temp{
    border-radius: 20px;
    background: #414141;
    box-shadow: inset -7px -7px 14px #212121,
                inset 7px 7px 14px #626262;
    height: 25vh;
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 17px;
    align-items: baseline;
    align-content: space-around;
}
.temp>h2{
    word-spacing: 3px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.deploy {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 19px;
    background: #CA3E47;
    box-shadow: inset -13px 13px 27px #7d262c,
            inset 13px -13px 27px #ff5662;

}
.deploy:hover{
    transition: 500ms;
    border-radius: 19px;
background: #CA3E47;
box-shadow: inset 13px -13px 27px #7d262c,
            inset -13px 13px 27px #ff5662;
}
.deploy:active{
    border-radius: 19px;
    background: #CA3E47;
    box-shadow: inset 13px 13px 27px #7d262c,
            inset -13px -13px 27px #ff5662;
}




@media screen and (max-width: 480px) {
    .com{
        flex-direction: column;
    }
    
}